@page "/"
@using Microsoft.AspNetCore.Authorization

<PageTitle>Главная</PageTitle>

<h1>Система расчета нагрузки по кафедре!</h1>
Данная система позволяет внести заявки на обеспечение курсов от разных факультетов, сформировать нагрузку преподавателей
и сгенерировать основные отчеты

<SurveyPrompt Title="How is Blazor working for you?" />
