@using SSU.DM.WebAssembly.Client.Services.Impl
@inherits LayoutComponentBase
@inject IdentityAuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager


<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Формирование нагрузки кафедры" />
            <RadzenButton class="float-right" Text="Выйти" ButtonStyle="ButtonStyle.Info" Variant="Variant.Text" Size="ButtonSize.Medium" Click="@LogoutClick"></RadzenButton>
        </div>
    </RadzenHeader>
    <NavigationMenu SidebarExpanded=@sidebarExpanded />
    <RadzenBody>
        <div class="p-2">
            @Body
        </div>
        <RadzenNotification />
    </RadzenBody>
    <RadzenFooter hidden="@string.IsNullOrEmpty(footer)">
        @footer
    </RadzenFooter>
</RadzenLayout>

<RadzenDialog />
@*<RadzenNotification />*@
<RadzenContextMenu />
<RadzenTooltip />

@code {
    bool sidebarExpanded = true;
    string footer = string.Empty;

    private async Task LogoutClick()
    {
        await AuthStateProvider.Logout();
        NavigationManager.NavigateTo("/login");
    }

}
